<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/kepa.css}"
      href="css/kepa.css" rel="stylesheet">
<style>
    .profile {
        width: 400px;
        height: 500px;
        border: 1px solid black;
        background: url("/image/profile/케파.png");
        background-size: cover;
    }
</style>
<head>
    <title>kepa</title>
</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/chelseaMark.png" alt="" width="200" height="200">
    <h1 class="clubName">Chelsea</h1>
    <a href="../../chelsea.html" th:href="@{/teamInfo/club/chelsea}"><div class="box1">일정</div></a>
    <a href="../chelseaSquad.html" th:href="@{/squad/chelseaSquad}"><div class="box2">선수단</div></a>
</div>
<div class="header2">
    <h1>Kepa Arrizabalaga</h1>
</div>

<div class="container">
    <div class="profile"></div>
    <div>
        <p>&nbsp;&nbsp;<b>출생</b>&nbsp;&nbsp;1994. 10. 3. 스페인</p>
        <p>&nbsp;&nbsp;<b>신체</b> &nbsp;&nbsp;189cm, 90kg</p>
        <p>&nbsp;&nbsp;<b>소속</b> &nbsp;&nbsp;첼시 FC (GK 골키퍼, 1)</p>
        <p>&nbsp;&nbsp;<b>데뷔</b> &nbsp;&nbsp;2012년 CD 바스코니아 입단</p>
        <p>&nbsp;&nbsp;<b>경력</b> &nbsp;&nbsp;빌바오 -> 첼시</p>
        <p>&nbsp;&nbsp;<b>이적료</b> &nbsp;&nbsp;1100억</p>
    </div>
</div>
<div class="header3">
    <h1>22 - 23 시즌 성적</h1>
</div>
<div class="container1">
    <div class="item box">
        <div class="item1">
            <p><b>출전 경기</b></p>
            <div class="item2">
                <p>8 경기</p>
            </div>
        </div>
    </div>

    <div class="item box">
        <div class="item1">
            <p><b>출전 시간</b></p>
            <div class="item2">
                <p>720 분</p>
            </div>
        </div>
    </div>

    <div class="item box">
        <div class="item1">
            <p><b>총합 터치</b></p>
            <div class="item2">
            </div>
        </div>
    </div>
    <div class="item box">
        <div class="item1">
            <p><b>클린시트</b></p>
            <div class="item2"></div>
        </div>
    </div>
    <div class="item box">
        <div class="item1">
            <p><b>선방</b></p>
            <div class="item2"></div>
        </div>
    </div>
    <div class="item box">
        <div class="item1">
            <p><b>실점</b></p>
            <div class="item2"></div>
        </div>
    </div>
</div>
<div class="header4">
    <h1>하이라이트</h1>
</div>
<div class="container2">
    <video controls width="640">
        <source src="/image/video/케파1.mp4" type="video/webm">
    </video>
    <video controls width="640">
        <source src="/image/video/케파2.mp4" type="video/webm">
    </video>
</div>
</body>
</html>