<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soccer.hello.Repository.mybatis.MatchMapper">
    <select id="getAllMatches" resultType="Match">

        SELECT match_id, team1_id, team2_id, match_date FROM match2
    </select>
</mapper>








































