<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soccer.hello.Repository.mybatis.Match3Mapper">
    <select id="getAllTeam" resultType="Team">
        SELECT match3_id, team1_id, team2_id, team3_id, team4_id,
               team1_socre, team2_socre, team3_socre, team4_socre FROM match3
    </select>
</mapper>

