<nav class="nav">
  <button type="button" id="but1" name="but1" value="버튼1" class="btn btn-dark" >리그</button>
  <button type="button" id="but2" name="but2" value="버튼2" class="btn btn-dark" >팀 정보</button>
  <a href="#"
  ><button type="button"
           onclick="location.href='searchPlayer.html'"
           th:onclick="|location.href='@{/searchPlayer}'|"

           id="but3" name="but3" value="버튼3" class="btn btn-dark" >선수 검색</button></a>
  <a><button type="button" id="but4" name="but4" value="버튼4" class="btn btn-dark" >경기 일정</button></a>


</nav>

