<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/teamInfo.css}"
      href="css/teamInfo.css" rel="stylesheet">
<style>

</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Box Model Example</title>
</head>
<body>

<div class="header" th:insert="~{header1.html}"></div>

<div class="frame1">
<div class="box actionImg8">
    <a href="club/chelsea.html" th:href="@{teamInfo/club/chelsea}">
        <img src="/image/teamimages/chel.jpg" alt="chel" />
    <div class="back">
        <div class="back_inner">
            <span class="sub_tit">CHELSEA</span>
            <span class="desc">
영국잉글랜드프리미어 리그의 프로축구단<br/> 연고지는 런던 해머스미스 앤 풀럼<br/>
            </span>
        </div>
    </div>
    </a>
</div>

<div class="box actionImg8">
    <a href="club/liverpool.html" th:href="@{teamInfo/club/liverpool}">
        <img src="/image/teamimages/liverpool.jpg" alt="liverpool" />
    <div class="back">
        <div class="back_inner">
            <span class="sub_tit">LIVERPOOL</span>
            <span class="desc">
잉글랜드프리미어 리그의 프로 축구 클럽<br>연고지는 머지사이드 주리버풀. 홈 구장은 안필드<br/>
            </span>
        </div>
    </div></a>
</div>
</div>
<div class="frame1">
<div class="box actionImg8">
    <a href="club/manchester.html" th:href="@{teamInfo/club/manchester}">
        <img src="/image/teamimages/manchester.jpg" alt="manchester" />
    <div class="back">
        <div class="back_inner">
            <span class="sub_tit">MANCHESTER</span>
            <span class="desc">
영국잉글랜드그레이터맨체스터 주의 트래포드 를 연고로 하는 프로축구 클럽<br/> 뉴턴 히스 LYR F.C.(Newton Heath LYR F.C.)란 이름으로 창설<br/>
            </span>
        </div>
    </div></a>
</div>

<div class="box actionImg8">
    <a href="club/arsenal.html" th:href="@{teamInfo/club/arsenal}">
        <img src="/image/teamimages/arsenal.jpg" alt="arsenal"/>
    <div class="back">
        <div class="back_inner">
            <span class="sub_tit">ARSENAL</span>
            <span class="desc">
아스널 FC는 영국잉글랜드런던을 연고로 하는 프로축구단<br/>소속 리그는 프리미어 리그, 홈 구장은 에미레이트 스타디움<br/>
            </span>
        </div>
    </div></a>
</div>
</div>

<footer class="footer" th:insert="~{footer.html}">
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>




