<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/arsenal.css}"
      href="css/arsenal.css" rel="stylesheet">
    <title>arsenal</title>

</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/arsenalMark.png" alt="" width="180" height="200">
    <h1 class="clubName">Arsenal</h1>
    <a href="arsenal.html"><div class="box1">일정</div></a>
    <a href="../club/squad/arsenalSquad.html" th:href="@{arsenal/squad/arsenalSquad}">
        <div class="box2">선수단</div></a>
</div>
</body>
</html>