<!DOCTYPE html> <!---->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/arsenal.css}"
          href="css/arsenal.css" rel="stylesheet">
    <title>arsenal</title>

</head>
<body>
<div class="header1">
    <img class="mark" src="../../static/image/mark/아스날%20마크.png" alt="" width="180" height="200">
    <h1 class="clubName">Arsenal</h1>
    <a href="arsenal.html"><div class="box1">일정</div></a>
    <a href="../club/squad/arsenalSquad.html"><div class="box2">선수단</div></a>
</div>
</body>
</html>