<!DOCTYPE html> <!--aa-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chelsea</title>
    <style>
        .header {
            width: 100%;
            padding: 20px;
            background-color: #0A6EFF;
            height: 200px;
            padding: 0px;
        }
        .mark {
            display: inline-block;
        }
        .clubName {
            position: relative;
            display: inline-block;
            text-shadow: 3px 3px black;
            background-color: #0A6EFF;
            color: white;
            bottom: 80px;
            font-size: 50px;
        }
    </style>
</head>
<body>
<div class="header">
    <img class="mark" src="images/첼시%20마크.png" alt="" width="200" height="200">
    <h1 class="clubName">Chelsea</h1>
</div>
</body>
</html>