<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/liverpool.css}"
      href="css/liverpool.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/liverpoolMark.png" alt="" width="200" height="200">
    <h1 class="clubName">Liverpool</h1>
    <a href="liverpool.html" th:href="@{/teamInfo/club/liverpool}"><div class="box1">일정</div></a>
    <a href="../club/squad/liverpoolSquad.html" th:href="@{/squad/liverpoolSquad}">
        <div class="box2">선수단</div></a>
</div>
</body>
</html>