<!DOCTYPE html> <!---->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>liverpool</title>
    <link th:href="@{/css/liverpool.css}"
          href="css/liverpool.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="header1">
    <img class="mark" src="../../static/image/mark/리버풀%20마크.png" alt="" width="200" height="200">
    <h1 class="clubName">Liverpool</h1>
    <a href="liverpool.html"><div class="box1">일정</div></a>
    <a href="../club/squad/liverpoolSquad.html"><div class="box2">선수단</div></a>
</div>
</body>
</html>