<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/arsenalSquad.css}"
      href="css/arsenalSquad.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>arsenal</title>

</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/arsenalMark.png" alt="" width="180" height="200">
    <h1 class="clubName">Arsenal</h1>
    <a href="../arsenal.html" th:href="@{/teamInfo/club/arsenal}"><div class="box1">일정</div></a>
    <a href="arsenalSquad.html" th:href="@{/squad/arsenalSquad}"><div class="box2">선수단</div></a>
</div>

<div class="container">
    <div class="item item1">
        <a href="">
        <img src="/image/playerImage/램스데일.png" alt="">
            <div class="info">
                <h3>Aaron Ramsdale</h3>
                <p>아론 램스데일</p>
            </div>
        </a>
    </div>
    <div class="item item2">
        <a href="">
        <img src="/image/playerImage/화이트.png" alt="">
            <div class="info">
                <h3>Ben White</h3>
                <p>벤 화이트</p>
            </div>
        </a>
    </div>
    <div class="item item3">
        <a href="">
        <img src="/image/playerImage/홀딩.png" alt="">
            <div class="info">
                <h3>Rob Holding</h3>
                <p>롭 홀딩</p>
            </div>
        </a>
    </div>
    <div class="item item4">
        <a href="">
        <img src="/image/playerImage/사카.png" alt="">
            <div class="info">
                <h3>Bukayo Saka</h3>
                <p>부카요 사카</p>
            </div>
        </a>
    </div>
    <div class="item item5">
        <a href="">
        <img src="/image/playerImage/자카.png" alt="">
            <div class="info">
                <h3>Granit Xhaka</h3>
                <p>그라니트 자카</p>
            </div>
        </a>
    </div>
    <div class="item item6">
        <a href="">
        <img src="/image/playerImage/제주스.png" alt="">
            <div class="info">
                <h3>Gabriel Jesus</h3>
                <p>가브리엘 제주스</p>
            </div>
        </a>
    </div>
    <div class="item item7">
        <a href="">
        <img src="/image/playerImage/페페.png" alt="">
            <div class="info">
                <h3>Nicolas Pepe</h3>
                <p>니콜라스 페페</p>
            </div>
        </a>
    </div>
    <div class="item item8">
        <a href="">
        <img src="/image/playerImage/로우.png" alt="">
            <div class="info">
                <h3>Emile Smith Rowe</h3>
                <p>에밀 스미스 로우</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>