<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/chelseaSquad.css}"
      href="css/chelseaSquad.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>chelsea</title>

</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/chelseaMark.png" alt="" width="200" height="200">
    <h1 class="clubName">Chelsea</h1>
    <a href="../chelsea.html"th:href="@{/teamInfo/club/chelsea}"><div class="box1">일정</div></a>
    <a href="chelseaSquad.html" th:href="@{/squad/chelseaSquad}"><div class="box2">선수단</div></a>
</div>

<div class="container">
    <div class="item item1">
<!--        <a href="player/kepa.html">-->
<!--        <img src="images/케파.png" alt="">-->
<!--            <div class="info">-->
<!--                <h3>Kepa Arrizabalaga</h3>-->
<!--                <p>케파 아리사발라가</p>-->
<!--            </div>-->
<!--        </a>-->
        <a href="/squad/player" th:href="@{/player/kepa}">
            <img src="/image/playerImage/케파.png"  alt="">
            <div class="info">
                <h3>Kepa Arrizabalaga</h3>
                <p>케파 아리사발라가</p>
            </div>
        </a>
    </div>
    <div class="item item2">
        <a href="">
        <img src="/image/playerImage/티아구실바.png" alt="">
            <div class="info">
                <h3>Thiago Silva</h3>
                <p>티아고 실바</p>
            </div>
        </a>
    </div>
    <div class="item item3">
        <a href="">
        <img src="/image/playerImage/칠웰.png" alt="">
            <div class="info">
                <h3>Ben Chilwell</h3>
                <p>벤 칠웰</p>
            </div>
        </a>
    </div>
    <div class="item item4">
        <a href="">
        <img src="/image/playerImage/리스 제임스.png" alt="">
            <div class="info">
                <h3>Reece James</h3>
                <p>리스 제임스</p>
            </div>
        </a>
    </div>
    <div class="item item5">
        <a href="">
        <img src="/image/playerImage/엔조.png" alt="">
            <div class="info">
                <h3>Enzo Fernandez</h3>
                <p>엔조 페르난데즈</p>
            </div>
        </a>
    </div>
    <div class="item item6">
        <a href="">
        <img src="/image/playerImage/마운트.png" alt="">
            <div class="info">
                <h3>Mason Mount</h3>
                <p>메이슨 마운트</p>
            </div>
        </a>
    </div>
    <div class="item item7">
        <a href="">
        <img src="/image/playerImage/갤러거.png" alt="">
            <div class="info">
                <h3>Conor Gallagher</h3>
                <p>코너 갤러거</p>
            </div>
        </a>
    </div>
    <div class="item item8">
        <a href="">
        <img src="/image/playerImage/하베르츠.png" alt="">
            <div class="info">
                <h3>Kai Havertz</h3>
                <p>카이 하베르츠</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>