<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/liverpoolSquad.css}"
      href="css/liverpoolSquad.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>liverpool</title>

</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/liverpoolMark.png" alt="" width="200" height="200">
    <h1 class="clubName">Liverpool</h1>
    <a href="../liverpool.html" th:href="@{/teamInfo/club/liverpool}"><div class="box1">일정</div></a>
    <a href="liverpoolSquad.html" th:href="@{/squad/liverpoolSquad}"><div class="box2">선수단</div></a>
</div>

<div class="container">
    <div class="item item1">
        <a href="">
        <img src="/image/playerImage/알리송.png" alt="">
            <div class="info">
                <h3>Alisson Becker</h3>
                <p>알리송 베케르</p>
            </div>
        </a>
    </div>
    <div class="item item2">
        <a href="">
        <img src="/image/playerImage/고메즈.png" alt="">
            <div class="info">
                <h3>Joe Gomez</h3>
                <p>조 고메즈</p>
            </div>
        </a>
    </div>
    <div class="item item3">
        <a href="">
        <img src="/image/playerImage/반다이크.png" alt="">
            <div class="info">
                <h3>Virgil van Dijk</h3>
                <p>버질 반 다이크</p>
            </div>
        </a>
    </div>
    <div class="item item4">
        <a href="">
        <img src="/image/playerImage/아놀드.png" alt="">
            <div class="info">
                <h3>lexander Arnold</h3>
                <p>알렉산더 아놀드</p>
            </div>
        </a>
    </div>
    <div class="item item5">
        <a href="">
        <img src="/image/playerImage/알칸타라.png" alt="">
            <div class="info">
                <h3>Thiago Alcantara</h3>
                <p>티아고 알칸타라</p>
            </div>
        </a>
    </div>
    <div class="item item6">
        <a href="">
        <img src="/image/playerImage/피르미누.png" alt="">
            <div class="info">
                <h3>Roberto Firmino</h3>
                <p>로베르트 피르미누</p>
            </div>
        </a>
    </div>
    <div class="item item7">
        <a href="">
        <img src="/image/playerImage/살라.png" alt="">
            <div class="info">
                <h3>Mohamed Salah</h3>
                <p>모하메드 살라</p>
            </div>
        </a>
    </div>
    <div class="item item8">
        <a href="">
        <img src="/image/playerImage/각포.png" alt="">
            <div class="info">
                <h3>Cody Gakpo</h3>
                <p>코디 각포</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>