<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link th:href="@{/css/manchesterSquad.css}"
      href="css/manchesterSquad.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>manchester united</title>
</head>
<body>
<div class="header1">
    <img class="mark" src="/image/mark/manchesterMark.png" alt="" width="200" height="180">
    <h1 class="clubName">Manchester United</h1>
    <a href="../manchester.html" th:href="@{/teamInfo/club/manchester}"><div class="box1">일정</div></a>
    <a href="manchesterSquad.html" th:href="@{/squad/manchesterSquad}"><div class="box2">선수단</div></a>
</div>

<div class="container">
    <div class="item item1">
        <a href="">
        <img src="/image/playerImage/데헤아.png" alt="">
            <div class="info">
                <h3>David de Gea</h3>
                <p>다비드 데헤아</p>
            </div>
        </a>
    </div>
    <div class="item item2">
        <a href="">
        <img src="/image/playerImage/매과이어.png" alt="">
            <div class="info">
                <h3>Harry Maguire</h3>
                <p>해리 매과이어</p>
            </div>
        </a>
    </div>
    <div class="item item3">
        <a href="">
        <img src="/image/playerImage/달롯.png" alt="">
            <div class="info">
                <h3>Diogo Dalot</h3>
                <p>디오고 달롯</p>
            </div>
        </a>
    </div>
    <div class="item item4">
        <a href="">
        <img src="/image/playerImage/쇼.png" alt="">
            <div class="info">
                <h3>Luke Shaw</h3>
                <p>루크 쇼</p>
            </div>
        </a>
    </div>
    <div class="item item5">
        <a href="">
        <img src="/image/playerImage/브루노.png" alt="">
            <div class="info">
                <h3>Bruno Fernandes</h3>
                <p>브루노 페르난데스</p>
            </div>
        </a>
    </div>
    <div class="item item6">
        <a href="">
        <img src="/image/playerImage/마시알.png" alt="">
            <div class="info">
                <h3>Anthony Martial</h3>
                <p>앙토니 마시알</p>
            </div>
        </a>
    </div>
    <div class="item item7">
        <a href="">
        <img src="/image/playerImage/래시포드.png" alt="">
            <div class="info">
                <h3>Marcus Rashford</h3>
                <p>마커스 래시포드</p>
            </div>
        </a>
    </div>
    <div class="item item8">
        <a href="">
        <img src="/image/playerImage/그린우드.png" alt="">
            <div class="info">
                <h3>Mason Greenwood</h3>
                <p>메이슨 그린우드</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>