.header1 {
    width: 100%;
    padding: 20px;
    background-color: #1a5cc6;
    height: 200px;
    padding: 0px;
}
.header2  {
    width: 70%;
    padding: 20px;
    background-color: #CCCCCC;
    height: 40px;
    padding: 0px;
    margin: 0 auto;
}
.header2 h1 {
    margin-top: 0px;
}
.header3 {
    width: 70%;
    padding: 20px;
    background-color: #CCCCCC;
    height: 40px;
    padding: 0px;
    margin: 0 auto;
}
.header3 h1 {
    margin-top: 0px;
}
.header4 {
    width: 70%;
    padding: 20px;
    background-color: #CCCCCC;
    height: 40px;
    padding: 0px;
    margin: 0 auto;
}
.header4 h1 {
    margin-top: 0px;
}
.mark {
    display: inline-block;
    padding-left: 100px;
}
.clubName {
    position: relative;
    display: inline-block;
    text-shadow: 3px 3px black;
    background-color: #1a5cc6;
    color: white;
    bottom: 80px;
    font-size: 50px;
}
.box1 {
    position: absolute;
    height: 35px;
    width: 100px;
    background: white;
    left: 300px;
    top: 158px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    background-color: #CCCCCC;
}
.box2 {
    position: absolute;
    height: 35px;
    width: 100px;
    background: white;
    left: 410px;
    top: 158px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.box1:hover {
    background-color: pink;
}
.box2:hover {
    background-color: pink;
}
.container {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: column nowrap;*/
    margin: 0 auto;
}
.container1 {
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: column nowrap;*/
    margin: 0 auto;
}
.container2 {
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: column nowrap;*/
    margin: 0 auto;
}
.container2 video {
    margin: 10px;
}

.item1 {
    width: 170px;
    height: 40px;
    border-bottom: 1px solid black;
    position: relative;
}
.item1 p {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
.item2 {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: -1px;
}

.profile {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    background-size: cover;
}
.container p {
    font-size: 25px;
}
.box {
    margin: 0 auto;
    padding: 100px;
    padding-top: 10px;
}