button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
.buttons {
    text-align: center;
}
#reg1{
    width:500px; height: 200px; margin:auto; display: inline-block; vertical-align: middle; font-size: 50px;
}
#reg2{
    width:500px; height: 200px; margin:auto; display: inline-block; vertical-align: middle; font-size: 50px;
}
#reg3{
    width:500px; height: 200px; margin:auto; display: inline-block; vertical-align: middle; font-size: 50px;
}
#reg4{
    width:500px; height: 200px; margin:auto; display: inline-block; vertical-align: middle; font-size: 50px;
}