<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soccer.hello.login.Repository.mybatis.TeamMapper">
    <select id="getAllTeam" resultType="Team">
        SELECT team_id, team_name, league_id FROM team
    </select>
</mapper>
